# Script de requêtes et d'extraction de données

In [32]:
import urllib.parse
import numpy as np
import requests
import pandas as pd
from csv import writer
from csv import DictWriter
import csv

domain = "51.91.251.0"
port = 3000
host = f"http://{domain}:{port}"
path = lambda x: urllib.parse.urljoin(host, x)

user_id = '5db3e3d5-ee3d-4905-987d-27315733c1f6'

In [2]:
language = ['austrian', 'belgian', 'bulgarian', 'croatian', 'cypriot', 'czech', 'danish', 'dutch', 'estonian', 'finnish',
            'french', 'german', 'greek', 'hungarian', 'irish', 'italian', 'latvian', 'lithuanian', 'luxembourgish', 
            'maltese', 'polish', 'portuguese', 'romanian', 'slovakian', 'slovene', 'spanish','swedish']
city = ['amsterdam', 'copenhagen', 'madrid', 'paris', 'rome', 'sofia', 'valletta', 'vienna', 'vilnius']
mobile = ['0','1']
date = np.arange(0,44,1)

In [5]:
import requests

user_id = '5db3e3d5-ee3d-4905-987d-27315733c1f6'
name = 'AliBaba-first-avatar'
r = requests.post(path(f'avatars/{user_id}/{name}'))
r

In [6]:
name = 'AliBaba-second-avatar'
r = requests.post(path(f"avatars/{user_id}/{name}"))
r

In [10]:
r = requests.get(path(f"avatars/{user_id}"))
r.json()
#for avatar in r.json():
    #print(avatar['id'], avatar['name'])

[{'created_at': '2022-10-12T23:19:58.561906',
  'name': 'AliBaba-first-avatar',
  'user_id': '5db3e3d5-ee3d-4905-987d-27315733c1f6',
  'id': 6048},
 {'created_at': '2022-10-12T23:19:58.561906',
  'name': 'AliBaba-second-avatar',
  'user_id': '5db3e3d5-ee3d-4905-987d-27315733c1f6',
  'id': 6049}]

In [8]:
params = {
    "avatar_name": "AliBaba-first-avatar",
    "language": "hungarian",
    "city": "copenhagen",
    "date": 2,
    "mobile": 0,
}
r1 = requests.get(path(f"pricing/{user_id}"), params=params)
r1.json()

{'prices': [{'hotel_id': 834, 'price': 91, 'stock': 0},
  {'hotel_id': 757, 'price': 151, 'stock': 1},
  {'hotel_id': 893, 'price': 229, 'stock': 0},
  {'hotel_id': 989, 'price': 108, 'stock': 0},
  {'hotel_id': 32, 'price': 175, 'stock': 0},
  {'hotel_id': 318, 'price': 141, 'stock': 0},
  {'hotel_id': 58, 'price': 322, 'stock': 1},
  {'hotel_id': 433, 'price': 143, 'stock': 2},
  {'hotel_id': 981, 'price': 110, 'stock': 0},
  {'hotel_id': 523, 'price': 104, 'stock': 3},
  {'hotel_id': 289, 'price': 140, 'stock': 0},
  {'hotel_id': 6, 'price': 120, 'stock': 0},
  {'hotel_id': 407, 'price': 317, 'stock': 1},
  {'hotel_id': 865, 'price': 277, 'stock': 7},
  {'hotel_id': 348, 'price': 198, 'stock': 2},
  {'hotel_id': 952, 'price': 94, 'stock': 0},
  {'hotel_id': 267, 'price': 173, 'stock': 0},
  {'hotel_id': 508, 'price': 339, 'stock': 1},
  {'hotel_id': 202, 'price': 198, 'stock': 2},
  {'hotel_id': 688, 'price': 87, 'stock': 0},
  {'hotel_id': 539, 'price': 351, 'stock': 3},
  {'hotel_id': 142, 'price': 390, 'stock': 4},
  {'hotel_id': 995, 'price': 214, 'stock': 3},
  {'hotel_id': 78, 'price': 461, 'stock': 2},
  {'hotel_id': 402, 'price': 128, 'stock': 0},
  {'hotel_id': 869, 'price': 469, 'stock': 1},
  {'hotel_id': 844, 'price': 469, 'stock': 2},
  {'hotel_id': 793, 'price': 167, 'stock': 0},
  {'hotel_id': 43, 'price': 79, 'stock': 16},
  {'hotel_id': 309, 'price': 94, 'stock': 0},
  {'hotel_id': 830, 'price': 89, 'stock': 0},
  {'hotel_id': 669, 'price': 322, 'stock': 1},
  {'hotel_id': 50, 'price': 149, 'stock': 1},
  {'hotel_id': 425, 'price': 308, 'stock': 1},
  {'hotel_id': 332, 'price': 333, 'stock': 1},
  {'hotel_id': 90, 'price': 200, 'stock': 2},
  {'hotel_id': 559, 'price': 299, 'stock': 1},
  {'hotel_id': 771, 'price': 478, 'stock': 2},
  {'hotel_id': 431, 'price': 123, 'stock': 0},
  {'hotel_id': 531, 'price': 204, 'stock': 2},
  {'hotel_id': 959, 'price': 221, 'stock': 4},
  {'hotel_id': 930, 'price': 120, 'stock': 0},
  {'hotel_id': 690, 'price': 241, 'stock': 4},
  {'hotel_id': 994, 'price': 193, 'stock': 2},
  {'hotel_id': 973, 'price': 171, 'stock': 0},
  {'hotel_id': 365, 'price': 94, 'stock': 0},
  {'hotel_id': 506, 'price': 148, 'stock': 0},
  {'hotel_id': 329, 'price': 239, 'stock': 0},
  {'hotel_id': 983, 'price': 91, 'stock': 0},
  {'hotel_id': 60, 'price': 94, 'stock': 0},
  {'hotel_id': 153, 'price': 333, 'stock': 1},
  {'hotel_id': 922, 'price': 342, 'stock': 1},
  {'hotel_id': 422, 'price': 481, 'stock': 2},
  {'hotel_id': 532, 'price': 342, 'stock': 1},
  {'hotel_id': 99, 'price': 202, 'stock': 0},
  {'hotel_id': 978, 'price': 335, 'stock': 4},
  {'hotel_id': 938, 'price': 121, 'stock': 0},
  {'hotel_id': 300, 'price': 145, 'stock': 1},
  {'hotel_id': 720, 'price': 467, 'stock': 2},
  {'hotel_id': 110, 'price': 202, 'stock': 2},
  {'hotel_id': 518, 'price': 194, 'stock': 1},
  {'hotel_id': 805, 'price': 202, 'stock': 2},
  {'hotel_id': 898, 'price': 92, 'stock': 0},
  {'hotel_id': 772, 'price': 327, 'stock': 0},
  {'hotel_id': 556, 'price': 175, 'stock': 0},
  {'hotel_id': 761, 'price': 145, 'stock': 0},
  {'hotel_id': 855, 'price': 311, 'stock': 1},
  {'hotel_id': 391, 'price': 191, 'stock': 2},
  {'hotel_id': 546, 'price': 108, 'stock': 1},
  {'hotel_id': 194, 'price': 118, 'stock': 0},
  {'hotel_id': 716, 'price': 143, 'stock': 0},
  {'hotel_id': 497, 'price': 269, 'stock': 4},
  {'hotel_id': 711, 'price': 140, 'stock': 2},
  {'hotel_id': 726, 'price': 325, 'stock': 3},
  {'hotel_id': 638, 'price': 153, 'stock': 6},
  {'hotel_id': 616, 'price': 198, 'stock': 0},
  {'hotel_id': 770, 'price': 336, 'stock': 1},
  {'hotel_id': 100, 'price': 87, 'stock': 0},
  {'hotel_id': 291, 'price': 256, 'stock': 1},
  {'hotel_id': 481, 'price': 95, 'stock': 0},
  {'hotel_id': 622, 'price': 213, 'stock': 1},
  {'hotel_id': 349, 'price': 317, 'stock': 1},
  {'hotel_id': 91, 'price': 128, 'stock': 0},
  {'hotel_id': 611, 'price': 204, 'stock': 0},
  {'hotel_id': 53, 'price': 94, 'stock': 0},
  {'hotel_id': 541, 'price': 155, 'stock': 1},
  {'hotel_id': 443, 'price': 145, 'stock': 1},
  {'hotel_id': 96, 'price': 194, 'stock': 1},
  {'hotel_id': 401, 'price': 196, 'stock': 0},
  {'hotel_id': 831, 'price': 108, 'stock': 5},
  {'hotel_id': 908, 'price': 481, 'stock': 2},
  {'hotel_id': 664, 'price': 472, 'stock': 2},
  {'hotel_id': 876, 'price': 141, 'stock': 0},
  {'hotel_id': 872, 'price': 97, 'stock': 0},
  {'hotel_id': 727, 'price': 121, 'stock': 0},
  {'hotel_id': 405, 'price': 97, 'stock': 0},
  {'hotel_id': 547, 'price': 202, 'stock': 2},
  {'hotel_id': 707, 'price': 335, 'stock': 5},
  {'hotel_id': 335, 'price': 90, 'stock': 0},
  {'hotel_id': 695, 'price': 202, 'stock': 2},
  {'hotel_id': 92, 'price': 84, 'stock': 3},
  {'hotel_id': 445, 'price': 89, 'stock': 0},
  {'hotel_id': 562, 'price': 327, 'stock': 1},
  {'hotel_id': 849, 'price': 198, 'stock': 2},
  {'hotel_id': 463, 'price': 97, 'stock': 0},
  {'hotel_id': 367, 'price': 96, 'stock': 0},
  {'hotel_id': 691, 'price': 89, 'stock': 0},
  {'hotel_id': 243, 'price': 97, 'stock': 0},
  {'hotel_id': 434, 'price': 114, 'stock': 0},
  {'hotel_id': 280, 'price': 117, 'stock': 12},
  {'hotel_id': 487, 'price': 166, 'stock': 8},
  {'hotel_id': 572, 'price': 231, 'stock': 0},
  {'hotel_id': 961, 'price': 229, 'stock': 7},
  {'hotel_id': 113, 'price': 89, 'stock': 0},
  {'hotel_id': 900, 'price': 235, 'stock': 0},
  {'hotel_id': 990, 'price': 168, 'stock': 0},
  {'hotel_id': 951, 'price': 87, 'stock': 0},
  {'hotel_id': 251, 'price': 165, 'stock': 0},
  {'hotel_id': 358, 'price': 306, 'stock': 1},
  {'hotel_id': 818, 'price': 173, 'stock': 0},
  {'hotel_id': 1, 'price': 95, 'stock': 0},
  {'hotel_id': 812, 'price': 200, 'stock': 0},
  {'hotel_id': 596, 'price': 170, 'stock': 0},
  {'hotel_id': 744, 'price': 170, 'stock': 0},
  {'hotel_id': 23, 'price': 198, 'stock': 2},
  {'hotel_id': 249, 'price': 87, 'stock': 0},
  {'hotel_id': 435, 'price': 464, 'stock': 2},
  {'hotel_id': 829, 'price': 202, 'stock': 2},
  {'hotel_id': 766, 'price': 467, 'stock': 2},
  {'hotel_id': 826, 'price': 196, 'stock': 8},
  {'hotel_id': 36, 'price': 193, 'stock': 0},
  {'hotel_id': 958, 'price': 239, 'stock': 0},
  {'hotel_id': 528, 'price': 432, 'stock': 2},
  {'hotel_id': 698, 'price': 231, 'stock': 6}],
 'request': {'city': 'copenhagen',
  'date': 2,
  'language': 'hungarian',
  'mobile': 0,
  'avatar_id': 6048}}

In [9]:
params = {
    "avatar_name": "AliBaba-second-avatar",
    "language": "hungarian",
    "city": "amsterdam",
    "date": 1,
    "mobile": 1,
}
#r2 = requests.get(path(f"pricing/{user_id}"), params=params)
#r2.json()

{'prices': [{'hotel_id': 760, 'price': 266, 'stock': 1},
  {'hotel_id': 105, 'price': 170, 'stock': 0},
  {'hotel_id': 211, 'price': 144, 'stock': 0},
  {'hotel_id': 788, 'price': 106, 'stock': 0},
  {'hotel_id': 750, 'price': 101, 'stock': 7},
  {'hotel_id': 567, 'price': 89, 'stock': 0},
  {'hotel_id': 658, 'price': 173, 'stock': 0},
  {'hotel_id': 193, 'price': 144, 'stock': 0},
  {'hotel_id': 366, 'price': 76, 'stock': 0},
  {'hotel_id': 809, 'price': 396, 'stock': 1},
  {'hotel_id': 660, 'price': 168, 'stock': 0},
  {'hotel_id': 256, 'price': 76, 'stock': 0},
  {'hotel_id': 85, 'price': 153, 'stock': 0},
  {'hotel_id': 916, 'price': 131, 'stock': 1},
  {'hotel_id': 45, 'price': 171, 'stock': 0},
  {'hotel_id': 16, 'price': 173, 'stock': 0},
  {'hotel_id': 163, 'price': 283, 'stock': 1},
  {'hotel_id': 679, 'price': 147, 'stock': 0},
  {'hotel_id': 587, 'price': 148, 'stock': 0},
  {'hotel_id': 140, 'price': 180, 'stock': 0},
  {'hotel_id': 455, 'price': 157, 'stock': 8},
  {'hotel_id': 548, 'price': 406, 'stock': 1},
  {'hotel_id': 271, 'price': 79, 'stock': 0},
  {'hotel_id': 493, 'price': 171, 'stock': 0},
  {'hotel_id': 821, 'price': 107, 'stock': 0},
  {'hotel_id': 591, 'price': 307, 'stock': 5},
  {'hotel_id': 960, 'price': 397, 'stock': 1},
  {'hotel_id': 507, 'price': 113, 'stock': 1},
  {'hotel_id': 878, 'price': 106, 'stock': 0},
  {'hotel_id': 588, 'price': 169, 'stock': 0},
  {'hotel_id': 603, 'price': 349, 'stock': 1},
  {'hotel_id': 627, 'price': 103, 'stock': 0},
  {'hotel_id': 777, 'price': 175, 'stock': 0},
  {'hotel_id': 505, 'price': 106, 'stock': 0},
  {'hotel_id': 594, 'price': 410, 'stock': 1},
  {'hotel_id': 475, 'price': 103, 'stock': 0},
  {'hotel_id': 921, 'price': 89, 'stock': 0},
  {'hotel_id': 783, 'price': 97, 'stock': 0},
  {'hotel_id': 585, 'price': 70, 'stock': 1},
  {'hotel_id': 375, 'price': 103, 'stock': 0},
  {'hotel_id': 450, 'price': 153, 'stock': 16},
  {'hotel_id': 214, 'price': 288, 'stock': 1},
  {'hotel_id': 22, 'price': 170, 'stock': 0},
  {'hotel_id': 867, 'price': 144, 'stock': 0},
  {'hotel_id': 442, 'price': 171, 'stock': 1},
  {'hotel_id': 806, 'price': 261, 'stock': 4},
  {'hotel_id': 674, 'price': 131, 'stock': 0},
  {'hotel_id': 196, 'price': 107, 'stock': 0},
  {'hotel_id': 172, 'price': 128, 'stock': 0},
  {'hotel_id': 945, 'price': 175, 'stock': 0},
  {'hotel_id': 387, 'price': 406, 'stock': 1},
  {'hotel_id': 157, 'price': 361, 'stock': 1},
  {'hotel_id': 724, 'price': 361, 'stock': 1},
  {'hotel_id': 570, 'price': 105, 'stock': 0},
  {'hotel_id': 880, 'price': 126, 'stock': 0},
  {'hotel_id': 762, 'price': 170, 'stock': 1},
  {'hotel_id': 604, 'price': 126, 'stock': 0},
  {'hotel_id': 326, 'price': 349, 'stock': 1},
  {'hotel_id': 86, 'price': 109, 'stock': 0},
  {'hotel_id': 230, 'price': 178, 'stock': 0},
  {'hotel_id': 745, 'price': 107, 'stock': 0},
  {'hotel_id': 352, 'price': 89, 'stock': 15},
  {'hotel_id': 9, 'price': 82, 'stock': 0},
  {'hotel_id': 752, 'price': 392, 'stock': 1},
  {'hotel_id': 410, 'price': 114, 'stock': 1},
  {'hotel_id': 52, 'price': 170, 'stock': 0},
  {'hotel_id': 971, 'price': 173, 'stock': 0},
  {'hotel_id': 925, 'price': 121, 'stock': 0},
  {'hotel_id': 441, 'price': 190, 'stock': 1},
  {'hotel_id': 429, 'price': 223, 'stock': 9},
  {'hotel_id': 510, 'price': 417, 'stock': 1},
  {'hotel_id': 417, 'price': 173, 'stock': 0},
  {'hotel_id': 515, 'price': 397, 'stock': 1},
  {'hotel_id': 317, 'price': 182, 'stock': 1},
  {'hotel_id': 969, 'price': 82, 'stock': 0},
  {'hotel_id': 117, 'price': 89, 'stock': 0},
  {'hotel_id': 902, 'price': 188, 'stock': 1},
  {'hotel_id': 224, 'price': 156, 'stock': 1},
  {'hotel_id': 778, 'price': 106, 'stock': 0},
  {'hotel_id': 517, 'price': 168, 'stock': 0},
  {'hotel_id': 680, 'price': 147, 'stock': 0},
  {'hotel_id': 891, 'price': 110, 'stock': 4},
  {'hotel_id': 779, 'price': 290, 'stock': 1},
  {'hotel_id': 83, 'price': 171, 'stock': 0},
  {'hotel_id': 628, 'price': 147, 'stock': 0},
  {'hotel_id': 307, 'price': 123, 'stock': 0},
  {'hotel_id': 234, 'price': 170, 'stock': 0},
  {'hotel_id': 82, 'price': 106, 'stock': 0},
  {'hotel_id': 630, 'price': 150, 'stock': 0},
  {'hotel_id': 482, 'price': 78, 'stock': 0},
  {'hotel_id': 223, 'price': 147, 'stock': 0},
  {'hotel_id': 158, 'price': 159, 'stock': 1},
  {'hotel_id': 706, 'price': 123, 'stock': 0},
  {'hotel_id': 111, 'price': 142, 'stock': 2},
  {'hotel_id': 676, 'price': 89, 'stock': 0},
  {'hotel_id': 743, 'price': 168, 'stock': 0},
  {'hotel_id': 103, 'price': 176, 'stock': 7},
  {'hotel_id': 373, 'price': 175, 'stock': 0},
  {'hotel_id': 557, 'price': 109, 'stock': 0},
  {'hotel_id': 715, 'price': 170, 'stock': 0},
  {'hotel_id': 933, 'price': 147, 'stock': 0},
  {'hotel_id': 283, 'price': 103, 'stock': 1},
  {'hotel_id': 967, 'price': 76, 'stock': 0},
  {'hotel_id': 34, 'price': 76, 'stock': 0},
  {'hotel_id': 892, 'price': 271, 'stock': 1},
  {'hotel_id': 303, 'price': 207, 'stock': 0},
  {'hotel_id': 10, 'price': 148, 'stock': 0},
  {'hotel_id': 807, 'price': 396, 'stock': 1},
  {'hotel_id': 917, 'price': 394, 'stock': 1},
  {'hotel_id': 218, 'price': 286, 'stock': 1},
  {'hotel_id': 369, 'price': 73, 'stock': 0},
  {'hotel_id': 101, 'price': 388, 'stock': 1},
  {'hotel_id': 12, 'price': 76, 'stock': 0},
  {'hotel_id': 269, 'price': 148, 'stock': 0},
  {'hotel_id': 835, 'price': 92, 'stock': 25},
  {'hotel_id': 146, 'price': 207, 'stock': 0},
  {'hotel_id': 460, 'price': 81, 'stock': 0},
  {'hotel_id': 264, 'price': 77, 'stock': 0},
  {'hotel_id': 657, 'price': 250, 'stock': 1},
  {'hotel_id': 581, 'price': 145, 'stock': 0},
  {'hotel_id': 311, 'price': 92, 'stock': 13}],
 'request': {'city': 'amsterdam',
  'date': 1,
  'language': 'hungarian',
  'mobile': 1,
  'avatar_id': 6049}}

In [10]:
import pandas as pd

pricing_requests = []

R = [r1, r2]
for r in R:
    pricing_requests.append(
        pd.DataFrame(r.json()['prices']).assign(**r.json()['request'])
    )

pricing_requests = pd.concat(pricing_requests)
pricing_requests.head()

   hotel_id  price  stock        city  date   language  mobile  avatar_id
0       834     91      0  copenhagen     2  hungarian       0       6048
1       757    151      1  copenhagen     2  hungarian       0       6048
2       893    229      0  copenhagen     2  hungarian       0       6048
3       989    108      0  copenhagen     2  hungarian       0       6048
4        32    175      0  copenhagen     2  hungarian       0       6048

In [11]:
len(pricing_requests)

255

In [13]:
hotels = pd.read_csv('./defi-ia-2023/features_hotels.csv', index_col=['hotel_id', 'city'])
pricing_requests = pricing_requests.join(hotels, on=['hotel_id', 'city'])
pricing_requests.head()

,hotel_id,price,stock,city,date,language,mobile,avatar_id,group,brand,parking,pool,children_policy
0,834,91,0,copenhagen,2,hungarian,0,6048,Yin Yang,8 Premium,0,0,0
1,757,151,1,copenhagen,2,hungarian,0,6048,Accar Hotels,Navatel,1,0,0
2,893,229,0,copenhagen,2,hungarian,0,6048,Morriott International,Morriot,1,1,0
3,989,108,0,copenhagen,2,hungarian,0,6048,Accar Hotels,Ibas,0,0,0
4,32,175,0,copenhagen,2,hungarian,0,6048,Morriott International,CourtYord,0,0,0

In [4]:
import requests
user_id = '5db3e3d5-ee3d-4905-987d-27315733c1f6'
#Choix de la date en fconction de l'avatar choisi
r = requests.get(path(f"avatars/{user_id}"))
for avatar in r.json():
    print(avatar['id'], avatar['name'])

6048 AliBaba-first-avatar
6049 AliBaba-second-avatar

In [4]:
import pandas as pd
#Vérification de l'unicité de la requête
CSV = pd.read_csv('./pricing_requests.csv')
CSV.head()

,Unnamed: 0,hotel_id,price,stock,city,date,language,mobile,avatar_id,group,brand,parking,pool,children_policy
0,0,834,91,0,copenhagen,2,hungarian,0,6048,Yin Yang,8 Premium,0,0,0
1,1,757,151,1,copenhagen,2,hungarian,0,6048,Accar Hotels,Navatel,1,0,0
2,2,893,229,0,copenhagen,2,hungarian,0,6048,Morriott International,Morriot,1,1,0
3,3,989,108,0,copenhagen,2,hungarian,0,6048,Accar Hotels,Ibas,0,0,0
4,4,32,175,0,copenhagen,2,hungarian,0,6048,Morriott International,CourtYord,0,0,0

- Ajouter order_requests

In [5]:
order_requests = np.ones(len(CSV), dtype=int)
order_requests = pd.DataFrame(order_requests,columns = ['order_requests'])
order_requests

     order_requests
0                 1
1                 1
2                 1
3                 1
4                 1
..              ...
250               1
251               1
252               1
253               1
254               1

[255 rows x 1 columns]

In [6]:
new_csv = CSV.drop(CSV.columns[0], axis = 1)
new_csv.head()

,hotel_id,price,stock,city,date,language,mobile,avatar_id,group,brand,parking,pool,children_policy
0,834,91,0,copenhagen,2,hungarian,0,6048,Yin Yang,8 Premium,0,0,0
1,757,151,1,copenhagen,2,hungarian,0,6048,Accar Hotels,Navatel,1,0,0
2,893,229,0,copenhagen,2,hungarian,0,6048,Morriott International,Morriot,1,1,0
3,989,108,0,copenhagen,2,hungarian,0,6048,Accar Hotels,Ibas,0,0,0
4,32,175,0,copenhagen,2,hungarian,0,6048,Morriott International,CourtYord,0,0,0

In [51]:
len(new_csv)

255

In [7]:
pricing_requests_new = order_requests.join(new_csv, on=None, how='right', lsuffix='', rsuffix='', sort=False)
pricing_requests_new.to_csv("./pricing_requests_new.csv", index = False)

In [8]:
CSV2 = pd.read_csv('./pricing_requests_new.csv')
CSV2.head()

,order_requests,hotel_id,price,stock,city,date,language,mobile,avatar_id,group,brand,parking,pool,children_policy
0,1,834,91,0,copenhagen,2,hungarian,0,6048,Yin Yang,8 Premium,0,0,0
1,1,757,151,1,copenhagen,2,hungarian,0,6048,Accar Hotels,Navatel,1,0,0
2,1,893,229,0,copenhagen,2,hungarian,0,6048,Morriott International,Morriot,1,1,0
3,1,989,108,0,copenhagen,2,hungarian,0,6048,Accar Hotels,Ibas,0,0,0
4,1,32,175,0,copenhagen,2,hungarian,0,6048,Morriott International,CourtYord,0,0,0

In [9]:
#Stock des requêtes effectuées

params1 = {
    
    "avatar_name": "AliBaba-first-avatar",
    "language": "hungarian",
    "city": "copenhagen",
    "date": 2,
    "mobile": 0,
}
params2 = {
    
    "avatar_name": "AliBaba-second-avatar",
    "language": "hungarian",
    "city": "amsterdam",
    "date": 1,
    "mobile": 1,
}
params_requests = []
params_requests.append(params1)    
params_requests  = pd.DataFrame(params_requests)
params_requests.to_csv("./param_request.csv", index = False)

In [10]:
params_requests = []
params_requests.append(params2)    
params_requests  = pd.DataFrame(params_requests)
old_param = pd.read_csv('./param_request.csv')

new_param_file = pd.concat([old_param,params_requests])
new_param_file.to_csv("./param_request.csv", index = False)

In [181]:
# Choix aléatoire des variables pour la requête
L = np.random.choice(language)#replace ? ie avec ou sans remplacement
C = np.random.choice(city)
M = np.random.choice(mobile)
D = np.random.choice(date)

3

In [11]:
tab_old_param = pd.read_csv('./param_request.csv')
tab_old_param

             avatar_name   language        city  date  mobile
0   AliBaba-first-avatar  hungarian  copenhagen     2       0
1  AliBaba-second-avatar  hungarian   amsterdam     1       1

# Choix de l'avatar

Idées :
- Si un "avatar_id" existe déjà avec un "order_requests" plus petit alors il faut réutiliser ce même "avatar_id"
- Pour chaque avatar déjà créé, on cherche la date à laquelle il a effectué ses requests. Si la plus petite de ces dates est supérieure à notre nouvelle date choisie aléatoirement, alors on réutilise l'avatar pour la nouvelle request. Sinon on créé un nouvel avatar.

In [3]:
def verif_avatar(random_avatar, random_date, tab_old_param):
    good_avatar = True
    for i in tab_old_param.index:
        if (random_avatar==tab_old_param['avatar_name'][i]):
            if (random_date>tab_old_param['date'][i]):
                good_avatar = False
        if good_avatar == False : break
    return good_avatar

In [239]:
#test
# A = 'AliBaba-first-avatar'
# D = 1
# tab_old_param = pd.read_csv('./param_request.csv')
# verif_avatar(A,D,tab_old_param)

True

# Verification de l'unicité de la requête

In [30]:
def unicite(new_params, tab_old_params):
    unique = True
    for i in tab_old_params.index:
        if ((new_params['avatar_name']==tab_old_params['avatar_name'][i]) and
            (new_params['language']==tab_old_params['language'][i]) and 
            (new_params['city']==tab_old_params['city'][i]) and 
            (new_params['date']==tab_old_params['date'][i]) and
            (new_params['mobile']==tab_old_params['mobile'][i])):
            unique = False
        if unique == False : break
    return unique

In [203]:
#Test
# A = "AliBaba-first-avatar"

# new_params = {
#     "avatar_name": A,
#     "language": L,
#     "city": C,
#     "date": D,
#     "mobile": M,
# }

# params2 = {
#     "avatar_name": "AliBaba-second-avatar",
#     "language": "hungarian",
#     "city": "amsterdam",
#     "date": 1,
#     "mobile": 1,
# }

# params1 = {
#     "avatar_name": "AliBaba-first-avatar",
#     "language": "hungarian",
#     "city": "copenhagen",
#     "date": 2,
#     "mobile": 0,
# }

In [14]:
unicite(params2,tab_old_param)

False

# Lancement d'une requête

In [ ]:
# r = requests.get(path(f"avatars/{user_id}"))
# created_avatar_id = []
# created_avatar_name = []
# for a in r.json():
#     created_avatar_id.append(a['id'])
#     created_avatar_name.append(a['name'])
# N_avatar = len(created_avatar_id)
# created_avatar_name = pd.DataFrame(created_avatar_name)
# created_avatar_name.to_csv("./created_avatar.csv", index = False)
# created_avatar_name

In [15]:
language.type()

AttributeError: 'list' object has no attribute 'type'

In [20]:
# created_avatar_name = pd.read_csv('./created_avatar.csv')
# c = created_avatar_name.to_numpy()
# c

In [120]:
r = requests.get(path(f"avatars/{user_id}"))
created_avatar_name = []
for avatar in r.json():
    created_avatar_name.append(avatar['name'])

In [121]:
created_avatar_name

['AliBaba-first-avatar',
 'AliBaba-second-avatar',
 'AliBaba-3-avatar',
 'AliBaba-2-avatar',
 'AliBaba-4-avatar']

In [105]:
len(created_avatar_name)

4

In [124]:
field_names = ["avatar_name","language","city","date","mobile"]

r = requests.get(path(f"avatars/{user_id}"))
created_avatar_name = []
for avatar in r.json():
    created_avatar_name.append(avatar['name'])
    
order_requests = 107 # UPDATE A CHAQUE FOIS

for i in range(400): 
    pricing_requests = []
    tab_old_params = pd.read_csv('./param_request.csv')
    N_avatar = len(created_avatar_name) 
        
    # Choix aléatoire des variables pour la requête
    L = np.random.choice(language)#replace ? ie avec ou sans remplacement
    C = np.random.choice(city)
    M = np.random.choice(mobile)
    D = np.random.choice(date)
    A = np.random.choice(created_avatar_name) #un avatar au hasard parmi ceux existants

    new_params = {
        "avatar_name": A,
        "language": L,
        "city": C,
        "date": D,
        "mobile": M,
        }
        
    #Choix avatar
    good_avatar = verif_avatar(A, D, tab_old_params) #verif avatar choisi au hasard ok avec la date choisie au hasard
    i = 0
    while ((good_avatar == False) and (i<N_avatar)): #a voir pour améliorer
        A = created_avatar_name[i]
        good_avatar = verif_avatar(A, D, tab_old_params)
        i+=1


    if good_avatar == False: #Si on a essayé tous les avatars mais qu'aucun ne correspond, on en créé un nv.
        A = 'AliBaba-'+str(N_avatar)+'-avatar'
        r = requests.post(path(f"avatars/{user_id}/{A}"))
        N_avatar += 1
        created_avatar_name.append(A)   
       # Rajoute le new A dans le tab created_avatar
#         with open('./created_avatar.csv', 'a') as f_object:
#             # Pass the CSV  file object to the writer() function
#             writer_object = writer(f_object)
#             # Result - a writer object
#             # Pass the data in the list as an argument into the writerow() function
#             writer_object.writerow([A])

                
    new_params["avatar_name"] = A  #mise a jour de l'avatar dans new_params
            
    #Si on passe pas par le if ca veut dire que l'avatar A déjà créé est cohérent avec D demandé, donc vérification de l'unicité
         
    u = unicite(new_params, tab_old_params)
    if u : # si unicité = True, on lance la requête
        
        
        
        requete = requests.get(path(f"pricing/{user_id}"), params=new_params)
        arret = True   
        #Sauvegarde des new_params dans le csv
        with open('./param_request.csv', 'a') as csvfile:
            writer = csv.DictWriter(csvfile, fieldnames=field_names)
            writer.writerow(new_params)
                    
        
        #Sauvegarde de la requete avec le bon order_requests
        pricing_requests.append(pd.DataFrame(requete.json()['prices']).assign(**requete.json()['request']))
        pricing_requests=pd.concat(pricing_requests)
        order_requests += 1
        vect = np.ones(len(pricing_requests), dtype=int)*order_requests
        vect = pd.DataFrame(vect,columns = ['order_requests'])
        pricing_requests = vect.join(pricing_requests, on=None, how='right', lsuffix='', rsuffix='', sort=False)

        hotels = pd.read_csv('./defi-ia-2023/features_hotels.csv', index_col=['hotel_id', 'city'])
        pricing_requests = pricing_requests.join(hotels, on=['hotel_id', 'city']) 

        #RAJOUTER LES NOUVELLES COMMANDES POUR COMPLETER LE CSV
        df = pd.read_csv('./pricing_requests_new.csv')
        df= pd.concat([df,pricing_requests],axis = 0)
        df.to_csv('./pricing_requests_new.csv', index= False)

In [115]:
requete.json()

In [116]:
new_params

{'avatar_name': 'AliBaba-4-avatar',
 'language': 'german',
 'city': 'madrid',
 'date': 21,
 'mobile': '1'}

In [119]:
tab_old_params

             avatar_name    language        city  date  mobile
0   AliBaba-first-avatar   hungarian  copenhagen     2       0
1  AliBaba-second-avatar   hungarian   amsterdam     1       1
2       AliBaba-2-avatar  portuguese      madrid    30       0
3       AliBaba-2-avatar  portuguese      madrid     1       0
4       AliBaba-2-avatar  portuguese      madrid     0       0
5       AliBaba-3-avatar      danish   amsterdam    22       0
6       AliBaba-3-avatar      german   amsterdam    14       1
7       AliBaba-3-avatar     belgian      madrid     9       0

In [ ]:
verif_avatar(A, D, tab_old_params)

In [112]:
hotels = pd.read_csv('./defi-ia-2023/features_hotels.csv', index_col=['hotel_id', 'city'])
pricing_requests = pricing_requests.join(hotels, on=['hotel_id', 'city']) 

#RAJOUTER LES NOUVELLES COMMANDES POUR COMPLETER LE CSV
df = pd.read_csv('./pricing_requests_new.csv')
df= pd.concat([df,pricing_requests],axis = 0)
df.to_csv('./pricing_requests_new.csv', index= False)

In [110]:
new_params

{'avatar_name': 'AliBaba-3-avatar',
 'language': 'belgian',
 'city': 'madrid',
 'date': 9,
 'mobile': '0'}

In [66]:
requete.json()

{'prices': [{'hotel_id': 658, 'price': 163, 'stock': 29},
  {'hotel_id': 172, 'price': 126, 'stock': 18},
  {'hotel_id': 657, 'price': 167, 'stock': 42},
  {'hotel_id': 585, 'price': 77, 'stock': 23},
  {'hotel_id': 685, 'price': 275, 'stock': 46},
  {'hotel_id': 676, 'price': 74, 'stock': 10},
  {'hotel_id': 214, 'price': 191, 'stock': 35},
  {'hotel_id': 410, 'price': 122, 'stock': 20},
  {'hotel_id': 779, 'price': 193, 'stock': 44},
  {'hotel_id': 604, 'price': 115, 'stock': 19},
  {'hotel_id': 510, 'price': 266, 'stock': 69},
  {'hotel_id': 515, 'price': 287, 'stock': 44},
  {'hotel_id': 482, 'price': 83, 'stock': 8},
  {'hotel_id': 505, 'price': 108, 'stock': 22},
  {'hotel_id': 82, 'price': 112, 'stock': 23},
  {'hotel_id': 441, 'price': 195, 'stock': 32},
  {'hotel_id': 867, 'price': 147, 'stock': 26},
  {'hotel_id': 234, 'price': 161, 'stock': 26},
  {'hotel_id': 594, 'price': 240, 'stock': 92},
  {'hotel_id': 85, 'price': 111, 'stock': 19},
  {'hotel_id': 945, 'price': 153, 'stock': 36},
  {'hotel_id': 625, 'price': 195, 'stock': 41},
  {'hotel_id': 52, 'price': 161, 'stock': 25},
  {'hotel_id': 366, 'price': 81, 'stock': 18},
  {'hotel_id': 86, 'price': 115, 'stock': 20},
  {'hotel_id': 892, 'price': 194, 'stock': 27},
  {'hotel_id': 88, 'price': 136, 'stock': 18},
  {'hotel_id': 680, 'price': 156, 'stock': 12},
  {'hotel_id': 16, 'price': 184, 'stock': 20},
  {'hotel_id': 253, 'price': 264, 'stock': 60},
  {'hotel_id': 783, 'price': 103, 'stock': 9},
  {'hotel_id': 902, 'price': 171, 'stock': 49},
  {'hotel_id': 507, 'price': 117, 'stock': 18},
  {'hotel_id': 493, 'price': 169, 'stock': 24},
  {'hotel_id': 311, 'price': 106, 'stock': 26},
  {'hotel_id': 373, 'price': 117, 'stock': 22},
  {'hotel_id': 806, 'price': 277, 'stock': 58},
  {'hotel_id': 140, 'price': 124, 'stock': 18},
  {'hotel_id': 630, 'price': 159, 'stock': 26},
  {'hotel_id': 724, 'price': 284, 'stock': 44},
  {'hotel_id': 317, 'price': 188, 'stock': 35},
  {'hotel_id': 762, 'price': 180, 'stock': 22},
  {'hotel_id': 745, 'price': 107, 'stock': 20},
  {'hotel_id': 196, 'price': 113, 'stock': 6},
  {'hotel_id': 557, 'price': 116, 'stock': 0},
  {'hotel_id': 158, 'price': 144, 'stock': 32},
  {'hotel_id': 352, 'price': 103, 'stock': 45},
  {'hotel_id': 743, 'price': 172, 'stock': 28},
  {'hotel_id': 760, 'price': 184, 'stock': 36},
  {'hotel_id': 967, 'price': 81, 'stock': 32},
  {'hotel_id': 375, 'price': 109, 'stock': 22},
  {'hotel_id': 627, 'price': 109, 'stock': 4},
  {'hotel_id': 117, 'price': 77, 'stock': 14},
  {'hotel_id': 417, 'price': 157, 'stock': 28},
  {'hotel_id': 925, 'price': 105, 'stock': 20},
  {'hotel_id': 660, 'price': 165, 'stock': 23},
  {'hotel_id': 387, 'price': 258, 'stock': 51},
  {'hotel_id': 83, 'price': 162, 'stock': 22},
  {'hotel_id': 777, 'price': 159, 'stock': 28},
  {'hotel_id': 77, 'price': 263, 'stock': 57},
  {'hotel_id': 22, 'price': 174, 'stock': 22},
  {'hotel_id': 778, 'price': 112, 'stock': 8},
  {'hotel_id': 45, 'price': 169, 'stock': 26},
  {'hotel_id': 430, 'price': 163, 'stock': 69},
  {'hotel_id': 807, 'price': 273, 'stock': 48},
  {'hotel_id': 809, 'price': 263, 'stock': 55},
  {'hotel_id': 256, 'price': 81, 'stock': 10},
  {'hotel_id': 706, 'price': 130, 'stock': 17},
  {'hotel_id': 917, 'price': 276, 'stock': 55},
  {'hotel_id': 271, 'price': 84, 'stock': 4},
  {'hotel_id': 193, 'price': 153, 'stock': 26},
  {'hotel_id': 960, 'price': 277, 'stock': 51},
  {'hotel_id': 12, 'price': 81, 'stock': 10},
  {'hotel_id': 111, 'price': 127, 'stock': 16},
  {'hotel_id': 628, 'price': 156, 'stock': 42},
  {'hotel_id': 570, 'price': 111, 'stock': 22},
  {'hotel_id': 269, 'price': 157, 'stock': 24},
  {'hotel_id': 460, 'price': 86, 'stock': 2},
  {'hotel_id': 548, 'price': 237, 'stock': 72},
  {'hotel_id': 475, 'price': 109, 'stock': 25},
  {'hotel_id': 588, 'price': 180, 'stock': 0},
  {'hotel_id': 603, 'price': 275, 'stock': 47},
  {'hotel_id': 788, 'price': 112, 'stock': 14},
  {'hotel_id': 326, 'price': 264, 'stock': 58},
  {'hotel_id': 921, 'price': 84, 'stock': 22},
  {'hotel_id': 303, 'price': 195, 'stock': 34},
  {'hotel_id': 933, 'price': 156, 'stock': 26},
  {'hotel_id': 211, 'price': 153, 'stock': 25},
  {'hotel_id': 230, 'price': 108, 'stock': 21},
  {'hotel_id': 529, 'price': 237, 'stock': 60},
  {'hotel_id': 307, 'price': 111, 'stock': 21},
  {'hotel_id': 346, 'price': 187, 'stock': 41},
  {'hotel_id': 157, 'price': 284, 'stock': 43},
  {'hotel_id': 679, 'price': 156, 'stock': 26},
  {'hotel_id': 224, 'price': 147, 'stock': 41},
  {'hotel_id': 103, 'price': 187, 'stock': 52},
  {'hotel_id': 581, 'price': 154, 'stock': 17},
  {'hotel_id': 166, 'price': 118, 'stock': 24},
  {'hotel_id': 969, 'price': 78, 'stock': 18},
  {'hotel_id': 450, 'price': 177, 'stock': 61},
  {'hotel_id': 101, 'price': 281, 'stock': 42},
  {'hotel_id': 752, 'price': 263, 'stock': 53},
  {'hotel_id': 835, 'price': 106, 'stock': 48},
  {'hotel_id': 455, 'price': 156, 'stock': 28},
  {'hotel_id': 9, 'price': 87, 'stock': 20},
  {'hotel_id': 918, 'price': 307, 'stock': 51},
  {'hotel_id': 283, 'price': 105, 'stock': 24},
  {'hotel_id': 34, 'price': 81, 'stock': 11},
  {'hotel_id': 10, 'price': 157, 'stock': 26},
  {'hotel_id': 369, 'price': 78, 'stock': 3},
  {'hotel_id': 591, 'price': 252, 'stock': 57},
  {'hotel_id': 971, 'price': 163, 'stock': 24},
  {'hotel_id': 715, 'price': 161, 'stock': 24},
  {'hotel_id': 442, 'price': 167, 'stock': 43},
  {'hotel_id': 429, 'price': 258, 'stock': 58},
  {'hotel_id': 146, 'price': 180, 'stock': 42},
  {'hotel_id': 587, 'price': 157, 'stock': 18},
  {'hotel_id': 212, 'price': 206, 'stock': 32},
  {'hotel_id': 517, 'price': 119, 'stock': 30},
  {'hotel_id': 821, 'price': 111, 'stock': 24},
  {'hotel_id': 223, 'price': 156, 'stock': 16},
  {'hotel_id': 880, 'price': 124, 'stock': 19},
  {'hotel_id': 891, 'price': 107, 'stock': 10},
  {'hotel_id': 674, 'price': 124, 'stock': 28},
  {'hotel_id': 264, 'price': 82, 'stock': 9},
  {'hotel_id': 750, 'price': 116, 'stock': 12},
  {'hotel_id': 163, 'price': 180, 'stock': 47},
  {'hotel_id': 218, 'price': 197, 'stock': 33},
  {'hotel_id': 567, 'price': 84, 'stock': 9},
  {'hotel_id': 916, 'price': 111, 'stock': 27},
  {'hotel_id': 465, 'price': 254, 'stock': 59},
  {'hotel_id': 105, 'price': 161, 'stock': 24},
  {'hotel_id': 878, 'price': 112, 'stock': 34}],
 'request': {'city': 'amsterdam',
  'date': 22,
  'language': 'danish',
  'mobile': 0,
  'avatar_id': 38457}}

In [93]:
hotels = pd.read_csv('./defi-ia-2023/features_hotels.csv', index_col=['hotel_id', 'city'])
pricing_requests = pricing_requests.join(hotels, on=['hotel_id', 'city'])

In [100]:
df = pd.read_csv('./pricing_requests_new.csv')

df= pd.concat([df,pricing_requests],axis = 0)
len(df)

388

In [102]:
df.to_csv('./pricing_requests_new.csv', index= False)

In [44]:
#r1 = requests.get(path(f"pricing/{user_id}"), params=new_params)#{'avatar_name': 'AliBaba-2-avatar',
#  'language': 'portuguese',
#  'city': 'madrid',
#  'date': 1,
#  'mobile': '0'}
r1.json()

{'prices': [{'hotel_id': 39, 'price': 107, 'stock': 0},
  {'hotel_id': 909, 'price': 65, 'stock': 0},
  {'hotel_id': 413, 'price': 254, 'stock': 2},
  {'hotel_id': 414, 'price': 64, 'stock': 0},
  {'hotel_id': 120, 'price': 149, 'stock': 0},
  {'hotel_id': 901, 'price': 349, 'stock': 1},
  {'hotel_id': 857, 'price': 107, 'stock': 1},
  {'hotel_id': 312, 'price': 108, 'stock': 0},
  {'hotel_id': 67, 'price': 196, 'stock': 12},
  {'hotel_id': 439, 'price': 106, 'stock': 0},
  {'hotel_id': 351, 'price': 91, 'stock': 0},
  {'hotel_id': 378, 'price': 124, 'stock': 0},
  {'hotel_id': 297, 'price': 343, 'stock': 1},
  {'hotel_id': 619, 'price': 121, 'stock': 0},
  {'hotel_id': 313, 'price': 67, 'stock': 0},
  {'hotel_id': 860, 'price': 144, 'stock': 0},
  {'hotel_id': 108, 'price': 94, 'stock': 0},
  {'hotel_id': 276, 'price': 68, 'stock': 0},
  {'hotel_id': 780, 'price': 341, 'stock': 1},
  {'hotel_id': 689, 'price': 86, 'stock': 0},
  {'hotel_id': 904, 'price': 110, 'stock': 0},
  {'hotel_id': 127, 'price': 68, 'stock': 0},
  {'hotel_id': 768, 'price': 357, 'stock': 1},
  {'hotel_id': 149, 'price': 174, 'stock': 0},
  {'hotel_id': 500, 'price': 66, 'stock': 0},
  {'hotel_id': 941, 'price': 66, 'stock': 0},
  {'hotel_id': 235, 'price': 147, 'stock': 0},
  {'hotel_id': 147, 'price': 170, 'stock': 0},
  {'hotel_id': 828, 'price': 113, 'stock': 1},
  {'hotel_id': 737, 'price': 143, 'stock': 8},
  {'hotel_id': 997, 'price': 143, 'stock': 0},
  {'hotel_id': 186, 'price': 126, 'stock': 0},
  {'hotel_id': 233, 'price': 147, 'stock': 0},
  {'hotel_id': 322, 'price': 81, 'stock': 2},
  {'hotel_id': 411, 'price': 91, 'stock': 0},
  {'hotel_id': 285, 'price': 89, 'stock': 0},
  {'hotel_id': 575, 'price': 86, 'stock': 19},
  {'hotel_id': 483, 'price': 92, 'stock': 0},
  {'hotel_id': 384, 'price': 175, 'stock': 1},
  {'hotel_id': 633, 'price': 146, 'stock': 0},
  {'hotel_id': 499, 'price': 241, 'stock': 1},
  {'hotel_id': 284, 'price': 146, 'stock': 1},
  {'hotel_id': 495, 'price': 339, 'stock': 1},
  {'hotel_id': 747, 'price': 172, 'stock': 1},
  {'hotel_id': 717, 'price': 351, 'stock': 1},
  {'hotel_id': 135, 'price': 341, 'stock': 1},
  {'hotel_id': 847, 'price': 83, 'stock': 4},
  {'hotel_id': 154, 'price': 320, 'stock': 1},
  {'hotel_id': 333, 'price': 103, 'stock': 1},
  {'hotel_id': 388, 'price': 123, 'stock': 0},
  {'hotel_id': 600, 'price': 62, 'stock': 0},
  {'hotel_id': 427, 'price': 247, 'stock': 1},
  {'hotel_id': 174, 'price': 128, 'stock': 5},
  {'hotel_id': 54, 'price': 88, 'stock': 0},
  {'hotel_id': 789, 'price': 74, 'stock': 0},
  {'hotel_id': 870, 'price': 70, 'stock': 0},
  {'hotel_id': 93, 'price': 255, 'stock': 3},
  {'hotel_id': 246, 'price': 351, 'stock': 1},
  {'hotel_id': 791, 'price': 108, 'stock': 0},
  {'hotel_id': 873, 'price': 212, 'stock': 4},
  {'hotel_id': 398, 'price': 63, 'stock': 1},
  {'hotel_id': 822, 'price': 184, 'stock': 1},
  {'hotel_id': 75, 'price': 140, 'stock': 0},
  {'hotel_id': 525, 'price': 131, 'stock': 0},
  {'hotel_id': 966, 'price': 78, 'stock': 0},
  {'hotel_id': 79, 'price': 111, 'stock': 0},
  {'hotel_id': 982, 'price': 228, 'stock': 1},
  {'hotel_id': 241, 'price': 123, 'stock': 0},
  {'hotel_id': 939, 'price': 167, 'stock': 0},
  {'hotel_id': 468, 'price': 65, 'stock': 0},
  {'hotel_id': 845, 'price': 315, 'stock': 1},
  {'hotel_id': 31, 'price': 107, 'stock': 0},
  {'hotel_id': 888, 'price': 210, 'stock': 12},
  {'hotel_id': 936, 'price': 146, 'stock': 0},
  {'hotel_id': 733, 'price': 145, 'stock': 0},
  {'hotel_id': 478, 'price': 108, 'stock': 0},
  {'hotel_id': 800, 'price': 91, 'stock': 0},
  {'hotel_id': 7, 'price': 92, 'stock': 0},
  {'hotel_id': 444, 'price': 138, 'stock': 1},
  {'hotel_id': 97, 'price': 224, 'stock': 2},
  {'hotel_id': 175, 'price': 107, 'stock': 0},
  {'hotel_id': 615, 'price': 106, 'stock': 0},
  {'hotel_id': 138, 'price': 67, 'stock': 0},
  {'hotel_id': 886, 'price': 157, 'stock': 0},
  {'hotel_id': 606, 'price': 237, 'stock': 0},
  {'hotel_id': 618, 'price': 107, 'stock': 0},
  {'hotel_id': 102, 'price': 327, 'stock': 1},
  {'hotel_id': 964, 'price': 146, 'stock': 0},
  {'hotel_id': 561, 'price': 62, 'stock': 3},
  {'hotel_id': 538, 'price': 121, 'stock': 0},
  {'hotel_id': 205, 'price': 86, 'stock': 0},
  {'hotel_id': 20, 'price': 70, 'stock': 0},
  {'hotel_id': 185, 'price': 144, 'stock': 0},
  {'hotel_id': 164, 'price': 143, 'stock': 0},
  {'hotel_id': 261, 'price': 140, 'stock': 0},
  {'hotel_id': 458, 'price': 78, 'stock': 1},
  {'hotel_id': 721, 'price': 67, 'stock': 0},
  {'hotel_id': 2, 'price': 90, 'stock': 0},
  {'hotel_id': 310, 'price': 64, 'stock': 0},
  {'hotel_id': 393, 'price': 146, 'stock': 2},
  {'hotel_id': 798, 'price': 345, 'stock': 0},
  {'hotel_id': 126, 'price': 96, 'stock': 0},
  {'hotel_id': 277, 'price': 210, 'stock': 3},
  {'hotel_id': 252, 'price': 247, 'stock': 1},
  {'hotel_id': 527, 'price': 144, 'stock': 0},
  {'hotel_id': 729, 'price': 332, 'stock': 1},
  {'hotel_id': 697, 'price': 146, 'stock': 0}],
 'request': {'city': 'madrid',
  'date': 1,
  'language': 'portuguese',
  'mobile': 0,
  'avatar_id': 38453}}

In [54]:
#r2 = requests.get(path(f"pricing/{user_id}"), params=new_params)#{'avatar_name': 'AliBaba-2-avatar',
#  'language': 'portuguese',
#  'city': 'madrid',
#  'date': 0,
#  'mobile': '0'}
r2.json()

{'prices': [{'hotel_id': 860, 'price': 144, 'stock': 0},
  {'hotel_id': 886, 'price': 157, 'stock': 0},
  {'hotel_id': 747, 'price': 173, 'stock': 0},
  {'hotel_id': 285, 'price': 89, 'stock': 0},
  {'hotel_id': 561, 'price': 62, 'stock': 3},
  {'hotel_id': 798, 'price': 345, 'stock': 0},
  {'hotel_id': 439, 'price': 106, 'stock': 0},
  {'hotel_id': 525, 'price': 131, 'stock': 0},
  {'hotel_id': 97, 'price': 225, 'stock': 0},
  {'hotel_id': 729, 'price': 332, 'stock': 0},
  {'hotel_id': 135, 'price': 341, 'stock': 0},
  {'hotel_id': 175, 'price': 107, 'stock': 0},
  {'hotel_id': 606, 'price': 237, 'stock': 0},
  {'hotel_id': 575, 'price': 86, 'stock': 18},
  {'hotel_id': 7, 'price': 92, 'stock': 0},
  {'hotel_id': 499, 'price': 241, 'stock': 0},
  {'hotel_id': 393, 'price': 146, 'stock': 0},
  {'hotel_id': 120, 'price': 149, 'stock': 0},
  {'hotel_id': 164, 'price': 143, 'stock': 0},
  {'hotel_id': 936, 'price': 146, 'stock': 0},
  {'hotel_id': 313, 'price': 67, 'stock': 0},
  {'hotel_id': 982, 'price': 229, 'stock': 0},
  {'hotel_id': 768, 'price': 358, 'stock': 0},
  {'hotel_id': 414, 'price': 64, 'stock': 0},
  {'hotel_id': 75, 'price': 140, 'stock': 0},
  {'hotel_id': 828, 'price': 113, 'stock': 1},
  {'hotel_id': 233, 'price': 147, 'stock': 0},
  {'hotel_id': 721, 'price': 67, 'stock': 0},
  {'hotel_id': 398, 'price': 63, 'stock': 0},
  {'hotel_id': 427, 'price': 247, 'stock': 0},
  {'hotel_id': 149, 'price': 175, 'stock': 0},
  {'hotel_id': 618, 'price': 107, 'stock': 0},
  {'hotel_id': 941, 'price': 66, 'stock': 0},
  {'hotel_id': 888, 'price': 211, 'stock': 10},
  {'hotel_id': 126, 'price': 104, 'stock': 0},
  {'hotel_id': 789, 'price': 75, 'stock': 0},
  {'hotel_id': 495, 'price': 339, 'stock': 0},
  {'hotel_id': 737, 'price': 143, 'stock': 6},
  {'hotel_id': 478, 'price': 108, 'stock': 0},
  {'hotel_id': 468, 'price': 65, 'stock': 0},
  {'hotel_id': 235, 'price': 147, 'stock': 0},
  {'hotel_id': 780, 'price': 341, 'stock': 0},
  {'hotel_id': 252, 'price': 247, 'stock': 0},
  {'hotel_id': 791, 'price': 136, 'stock': 0},
  {'hotel_id': 67, 'price': 196, 'stock': 10},
  {'hotel_id': 39, 'price': 107, 'stock': 0},
  {'hotel_id': 388, 'price': 124, 'stock': 0},
  {'hotel_id': 154, 'price': 321, 'stock': 0},
  {'hotel_id': 857, 'price': 107, 'stock': 0},
  {'hotel_id': 904, 'price': 110, 'stock': 0},
  {'hotel_id': 733, 'price': 145, 'stock': 0},
  {'hotel_id': 800, 'price': 91, 'stock': 0},
  {'hotel_id': 246, 'price': 352, 'stock': 0},
  {'hotel_id': 689, 'price': 86, 'stock': 0},
  {'hotel_id': 870, 'price': 70, 'stock': 0},
  {'hotel_id': 102, 'price': 328, 'stock': 0},
  {'hotel_id': 147, 'price': 171, 'stock': 0},
  {'hotel_id': 413, 'price': 254, 'stock': 0},
  {'hotel_id': 444, 'price': 138, 'stock': 0},
  {'hotel_id': 351, 'price': 91, 'stock': 0},
  {'hotel_id': 483, 'price': 92, 'stock': 0},
  {'hotel_id': 847, 'price': 83, 'stock': 2},
  {'hotel_id': 54, 'price': 88, 'stock': 0},
  {'hotel_id': 538, 'price': 121, 'stock': 0},
  {'hotel_id': 127, 'price': 68, 'stock': 0},
  {'hotel_id': 241, 'price': 124, 'stock': 0},
  {'hotel_id': 277, 'price': 211, 'stock': 1},
  {'hotel_id': 997, 'price': 143, 'stock': 0},
  {'hotel_id': 185, 'price': 144, 'stock': 0},
  {'hotel_id': 845, 'price': 316, 'stock': 0},
  {'hotel_id': 384, 'price': 176, 'stock': 0},
  {'hotel_id': 901, 'price': 349, 'stock': 0},
  {'hotel_id': 619, 'price': 121, 'stock': 0},
  {'hotel_id': 500, 'price': 66, 'stock': 0},
  {'hotel_id': 633, 'price': 146, 'stock': 0},
  {'hotel_id': 822, 'price': 227, 'stock': 0},
  {'hotel_id': 312, 'price': 108, 'stock': 0},
  {'hotel_id': 284, 'price': 146, 'stock': 0},
  {'hotel_id': 205, 'price': 86, 'stock': 0},
  {'hotel_id': 93, 'price': 255, 'stock': 2},
  {'hotel_id': 297, 'price': 343, 'stock': 0},
  {'hotel_id': 174, 'price': 128, 'stock': 4},
  {'hotel_id': 600, 'price': 62, 'stock': 0},
  {'hotel_id': 697, 'price': 146, 'stock': 0},
  {'hotel_id': 717, 'price': 352, 'stock': 0},
  {'hotel_id': 108, 'price': 94, 'stock': 0},
  {'hotel_id': 873, 'price': 213, 'stock': 2},
  {'hotel_id': 20, 'price': 70, 'stock': 0},
  {'hotel_id': 138, 'price': 67, 'stock': 0},
  {'hotel_id': 964, 'price': 146, 'stock': 0},
  {'hotel_id': 31, 'price': 107, 'stock': 0},
  {'hotel_id': 333, 'price': 103, 'stock': 0},
  {'hotel_id': 2, 'price': 90, 'stock': 0},
  {'hotel_id': 527, 'price': 144, 'stock': 0},
  {'hotel_id': 261, 'price': 155, 'stock': 0},
  {'hotel_id': 322, 'price': 81, 'stock': 2},
  {'hotel_id': 458, 'price': 78, 'stock': 0},
  {'hotel_id': 939, 'price': 168, 'stock': 0},
  {'hotel_id': 966, 'price': 78, 'stock': 0},
  {'hotel_id': 310, 'price': 64, 'stock': 0},
  {'hotel_id': 909, 'price': 65, 'stock': 0},
  {'hotel_id': 186, 'price': 127, 'stock': 0},
  {'hotel_id': 79, 'price': 111, 'stock': 0},
  {'hotel_id': 411, 'price': 91, 'stock': 0},
  {'hotel_id': 378, 'price': 125, 'stock': 0},
  {'hotel_id': 615, 'price': 106, 'stock': 0},
  {'hotel_id': 276, 'price': 68, 'stock': 0}],
 'request': {'city': 'madrid',
  'date': 0,
  'language': 'portuguese',
  'mobile': 0,
  'avatar_id': 38453}}

In [60]:
new_params = {'avatar_name': 'AliBaba-2-avatar',
              'language': 'portuguese',
              'city': 'madrid',
              'date': 0,
              'mobile': '0'}

with open('./param_request.csv', 'a') as csvfile:
            writer = csv.DictWriter(csvfile, fieldnames=field_names)
            writer.writerow(new_params)